## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Review of data: Column names
application_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [3]:
# Review of data: Data type
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [4]:
# Review of data: List of column objects
features_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
features_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(['EIN','NAME'], axis=1)
application_df.head(5)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff=200
application_types_to_replace=[]
for _ in application_df['APPLICATION_TYPE'].unique():
    result=application_df[application_df['APPLICATION_TYPE']==_].count()
    if result[0]<cutoff:
        application_types_to_replace.append(_)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
data_df = application_df['CLASSIFICATION'].value_counts().rename_axis('CLASSIFICATION').reset_index(name='counts')
data_df2=data_df[data_df['counts']>1]
data_df2

   CLASSIFICATION  counts
0           C1000   17326
1           C2000    6074
2           C1200    4837
3           C3000    1918
4           C2100    1883
5           C7000     777
6           C1700     287
7           C4000     194
8           C5000     116
9           C1270     114
10          C2700     104
11          C2800      95
12          C7100      75
13          C1300      58
14          C1280      50
15          C1230      36
16          C1400      34
17          C7200      32
18          C2300      32
19          C1240      30
20          C8000      20
21          C7120      18
22          C1500      16
23          C1800      15
24          C6000      15
25          C1250      14
26          C8200      11
27          C1238      10
28          C1278      10
29          C1235       9
30          C1237       9
31          C7210       7
32          C2400       6
33          C1720       6
34          C4100       6
35          C1257       5
36          C1600       5
37          C1260       3
38          C2710       3
39             C0       3
40          C3200       2
41          C1234       2
42          C1246       2
43          C1267       2
44          C1256       2

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff2=1800
classifications_to_replace=[]
for _ in application_df['CLASSIFICATION'].unique():
    result2=application_df[application_df['CLASSIFICATION']==_].count()
    if result2[0]<cutoff2:
        classifications_to_replace.append(_)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies=pd.get_dummies(application_df, dtype=int)

In [12]:
# List of the new dummy features
application_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATUS                        34299 non-null  int64
 1   ASK_AMT                       34299 non-null  int64
 2   IS_SUCCESSFUL                 34299 non-null  int64
 3   APPLICATION_TYPE_Other        34299 non-null  int64
 4   APPLICATION_TYPE_T10          34299 non-null  int64
 5   APPLICATION_TYPE_T19          34299 non-null  int64
 6   APPLICATION_TYPE_T3           34299 non-null  int64
 7   APPLICATION_TYPE_T4           34299 non-null  int64
 8   APPLICATION_TYPE_T5           34299 non-null  int64
 9   APPLICATION_TYPE_T6           34299 non-null  int64
 10  APPLICATION_TYPE_T7           34299 non-null  int64
 11  APPLICATION_TYPE_T8           34299 non-null  int64
 12  AFFILIATION_CompanySponsored  34299 non-null  int64
 13  AFFILIATION_Family/Parent     34299 non-null  int64
 14  AFFILIATION_Independent       34299 non-null  int64
 15  AFFILIATION_National          34299 non-null  int64
 16  AFFILIATION_Other             34299 non-null  int64
 17  AFFILIATION_Regional          34299 non-null  int64
 18  CLASSIFICATION_C1000          34299 non-null  int64
 19  CLASSIFICATION_C1200          34299 non-null  int64
 20  CLASSIFICATION_C2000          34299 non-null  int64
 21  CLASSIFICATION_C2100          34299 non-null  int64
 22  CLASSIFICATION_C3000          34299 non-null  int64
 23  CLASSIFICATION_Other          34299 non-null  int64
 24  USE_CASE_CommunityServ        34299 non-null  int64
 25  USE_CASE_Heathcare            34299 non-null  int64
 26  USE_CASE_Other                34299 non-null  int64
 27  USE_CASE_Preservation         34299 non-null  int64
 28  USE_CASE_ProductDev           34299 non-null  int64
 29  ORGANIZATION_Association      34299 non-null  int64
 30  ORGANIZATION_Co-operative     34299 non-null  int64
 31  ORGANIZATION_Corporation      34299 non-null  int64
 32  ORGANIZATION_Trust            34299 non-null  int64
 33  INCOME_AMT_0                  34299 non-null  int64
 34  INCOME_AMT_1-9999             34299 non-null  int64
 35  INCOME_AMT_10000-24999        34299 non-null  int64
 36  INCOME_AMT_100000-499999      34299 non-null  int64
 37  INCOME_AMT_10M-50M            34299 non-null  int64
 38  INCOME_AMT_1M-5M              34299 non-null  int64
 39  INCOME_AMT_25000-99999        34299 non-null  int64
 40  INCOME_AMT_50M+               34299 non-null  int64
 41  INCOME_AMT_5M-10M             34299 non-null  int64
 42  SPECIAL_CONSIDERATIONS_N      34299 non-null  int64
 43  SPECIAL_CONSIDERATIONS_Y      34299 non-null  int64
dtypes: int64(44)
memory usage: 11.5 MB

In [13]:
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [14]:
# Split our preprocessed data into our features and target arrays

y = application_df["IS_SUCCESSFUL"].values
X = application_dummies.drop(["IS_SUCCESSFUL"],axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [15]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
# Confirm the number of input features
len(X_train[0])

43

## Compile, Train and Evaluate the Model

First model:

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(input_dim=number_input_features, units=hidden_nodes_layer1, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5733 - accuracy: 0.7178
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5568 - accuracy: 0.7280
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5531 - accuracy: 0.7290
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7307
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7300
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7318
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7319
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7331
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7333
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7343
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7343
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7340
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7337
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7358
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7348
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7351
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7353
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7353
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7350
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7355
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5428 - accuracy: 0.7363
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7362
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7365
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7359
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7367
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7373
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7367
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7365
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7369
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7376
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7362
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7375
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7379
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7378
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7371
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7378
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7379
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7377
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7385
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7380
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7376
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7383
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7381
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7385
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7376
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7384
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7379
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7387
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7379
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7392
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7388
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7386
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7389
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7373
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7392
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7391
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7385
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7396
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7390
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7384
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7390
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7387
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7393
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7395
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7386
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7392
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7384
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7385
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7392
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7395
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7392
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7392
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7390
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7392
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7386
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7398
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7393
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7391
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7397
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7394
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7397
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7398
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7404
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7396
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7393
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7395
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7401
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7397
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7400
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7399
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7401
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7392
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7395
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7402
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7401
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5349 - accuracy: 0.7385
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7403
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7404
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7400
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7399

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5562 - accuracy: 0.7298 - 458ms/epoch - 2ms/step
Loss: 0.5562082529067993, Accuracy: 0.7297959327697754

In [21]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

Second model:
Test optimization with Tuner

In [22]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh'])

    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=30,
        step=5), activation=activation, input_dim=43))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=30,
            step=5),
            activation=activation))

    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model

In [24]:
# Was a missing package in Colab.
!pip install -q -U keras-tuner

      128.9/128.9 kB 3.8 MB/s eta 0:00:00

In [25]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    directory="project_2",
    hyperband_iterations=2)

In [26]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 00m 41s]
val_accuracy: 0.7309620976448059

Best val_accuracy So Far: 0.7325947284698486
Total elapsed time: 00h 23m 43s

In [27]:
# Get the optimal hyperparameters
best_hps= tuner.get_best_hyperparameters(1)[0]

# get the best model
best_model = tuner.get_best_models(1)[0]

In [33]:
print(best_hps.values)

{'activation': 'relu', 'first_units': 6, 'num_layers': 3, 'units_0': 1, 'units_1': 11, 'units_2': 21, 'units_3': 6, 'units_4': 16, 'tuner/epochs': 20, 'tuner/initial_epoch': 7, 'tuner/bracket': 2, 'tuner/round': 2, 'tuner/trial_id': '0042'}

In [34]:
# Evaluate best model against full test data
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5675 - accuracy: 0.7326 - 543ms/epoch - 2ms/step
Loss: 0.5674721598625183, Accuracy: 0.7325947284698486

In [35]:
# Export our model to HDF5 file
best_model.save('AlphabetSoupCharity_Optimization.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(